version: "3.9"
services:
  integration-tests:
    build: .
    env_file:
      - .env
    volumes:
      - .:/app
    command: [ "./scripts/tests.sh" ]
    depends_on:
      rabbitmq:
          condition: service_healthy
      db:
          condition: service_healthy

  rabbitmq:
    image : rabbitmq:3.8-management
    volumes:
       - ./tests/resources/rabbitmq:/etc/rabbitmq/
    healthcheck:
      test: rabbitmq-diagnostics -q ping

  develop:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      rabbitmq:
          condition: service_healthy
      db:
          condition: service_healthy

  db:
    image: postgres:12-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
